<!DOCTYPE HTML>
<html lang="zh-cn" ng-app>
<head>
<!--utf8 DOM-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="maxming">
<meta name="copyright" content="NetEase">
<base href="<!--{$base}-->">
<title>
	<!--{$title}-->-网易网站组PM管理系统
</title>
<style type="text/css">
/*选中样式*/
::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }
::o-selection{ background-color: #E13300; color: white; }
</style>
<!--所有模板都启用Angular-->
<script type="text/javascript" src="<!--{$static_dir}-->js/angular.min.js"></script>
<!--Have jQuery ? -->
<!--{if $jQuery}-->
<script type="text/javascript" src="<!--{$static_dir}-->js/jquery-1.8.3.min.js"></script>
<!--{/if}-->
<!--{foreach from = $script.css item = V}-->
<link rel="stylesheet" type="text/css" href="<!--{$static_dir}-->css/<!--{$V}-->">
<!--{/foreach}-->
</head>

<body>